<!-- <nav>
  <ul>
    <li>Home</li>
  </ul>
</nav>
 -->
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
  <div class ="title">
    <h2>Welcome to the Analytic Dashboard</h2>
    <div class = "main">

    <ul>
        <li *ngFor="let coin of coins;">
           Coin available to predict: <b>{{coin}}</b>
        </li>
     </ul>
  </div>
  <br>

    <h5>The latest signals is: <b>BTCUSTD</b><br></h5>
    <ul>
      <ng-container *ngFor="let recipient of signals; let i = index">
        <ng-container *ngIf="i > 10">
            <li>{{recipient[0] * 1000 | date:'dd-MM-yyyy HH:mm'}} --> The signal is <font color="green">{{recipient[1]}}</font> --> {{(recipient[0]* 1000)+180000 | date:'dd-MM-yyyy HH:mm'}}--> Currect close value is {{recipient[2]}}$</li>
            <li *ngIf ="recipient[1] =='Buy'">{{recipient[0] * 1000 | date:'dd-MM-yyyy HH:mm'}} --> The signal is <font color="green">{{recipient[1]}}</font> --> {{(recipient[0]* 1000)+180000 | date:'dd-MM-yyyy HH:mm'}}</li>
            <li *ngIf ="recipient[1] =='Sell'">{{recipient[0] * 1000 | date:'dd-MM-yyyy HH:mm'}} --> The signal is <font color="red">{{recipient[1]}}</font> --> {{(recipient[0]* 1000)+180000 | date:'dd-MM-yyyy HH:mm'}}</li>
        </ng-container>
        </ng-container>
    </ul>

    
  <h5>The latest Values is: <b>BTCUSTD</b><br></h5>
  <h5>Last updated: {{updated * 1000 | date:'yyyy-MM-dd HH:mm:ss'}}</h5>
  <button mat-button (click)="toggleTable = !toggleTable" >Show all data</button>


  <table *ngIf='toggleTable' class="table table-boardered-hover">
    <thead>
      <tr>
        <th scope="col">Techincal Indicator</th>
        <th scope="col">Value</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let item of data">
        <tr *ngFor="let f of featuresNames">
          <th scope="row">{{f}}</th>
          <td scope="col">{{item['indicators'][f]}}</td>
        </tr>
    </ng-container>
    </tbody>
  </table>
  <ng-template #loading>
      <mat-spinner style="margin:0 auto;" mode="indeterminate"></mat-spinner>
  </ng-template>


<br><br>



</div>
</body>

<table *ngIf='toggleTable' class="table table-boardered-hover">
    <thead>
      <tr>
        <th scope="col">Techincal Indicator</th>
        <th scope="col">Value</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let item of data">
        <tr *ngFor="let f of featuresNames">
          <th scope="row">{{f}}</th>
          <td scope="col">{{item['indicators'][f]}}</td>
        </tr>
    </ng-container>
    </tbody>
  </table>



<!-- <app-charts></app-charts> -->